@model SpotifyToYoutube.Models.TrackViewModel
@{
    ViewData["Title"] = "YouFoosh";
}

<h1>All done!</h1>

<div>
   <h2>Playlist converted!</h2>
   <span>Visit your page and start listening: <a>https://www.youtube.com</a></span>
</div>